body {
    padding: 1em;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1FBBAD;
    color: #444;
}

button {
    border: 0;
    border-radius: 0.1em;
    padding: 1em 2em;
    font-size: 1em;
    cursor: pointer;
}
button[disabled] {
    opacity: 0.6;
    cursor: default;
}

input[type="text"],
input[type="password"] {
    box-sizing: border-box;
    padding: 0.5em;
    width: 20em;
    font-size: 1em;
    max-width: 100%;
}

@-moz-keyframes three-quarters-loader {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes three-quarters-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes three-quarters-loader {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
